
#principal{
    padding: 0;
}
.container{
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
}
.logo{
    width: 24%;
}

#bus{
    width: 95%;
    height: 6vh;
}



.usca{
    text-align: right;
    float: right;
    width: 20%;
    margin-right: 8%;
}
.carousel-inner{
    padding-left: 10px;
    padding-right: 10px;
}



.carousel-inner img {
    width: 100%;
    height: 100%;
    padding-left: 4px;
    padding-right: 4px;

  }

#demo{
    padding-left: 0px;
    padding-right: 0px;

}

.card{
    padding: 8px;
    border-radius: 3%;
    border-width: 2px;
    margin: auto;
}

#pie{
    padding: 0;
    margin-top: 25px;
    margin-left: 0px;
    margin-right: 0px;
}

.prod{
    padding: 8px;
    align-self: self-end;
    border-radius: 4%;
    margin: auto;
}

.text{
    left: 45%;
    bottom: 60vh;
}

th{
    text-align: center;
}

.tabla{
    bottom: 45vh;
}

#carru{
    width: 60%;
    margin-left: 20%;
}

#boton{
    width: 100%;
}

.usu{
    float: left;
}


.ic_icon{
    background-color: black;
}

#carrofila2{
    padding: 0px;
}

#columnavacia{
    padding: 0px;
}


/*------------------------*/

.fotoCarro{
    width: 60%;
}