
/*--Index--*/





.container {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
}

/*Logo*/
.logo {
    width: 24%;
}

/*Logo carro*/
.logito{
    width: 6%;
    float: right;
}

/*Buscador*/
#bus {
    width: 95%;
    height: 6vh;
}

/*Carrusel*/
.carousel-inner img {
    width: 100%;
    height: 100%;
}


#demo {
    padding-left: 0px;
    padding-right: 0px;

}

/*pie de pagina*/

#pie {
    padding: 0;
    margin-top: 25px;
    margin-left: 0px;
    margin-right: 0px;
}

/*------*/

/*--Index-Productos--*/

.card {
    padding: 8px;
    border-radius: 4%;
    margin: auto;
    display: flex;


}

.carroModal {
    float:right;
    display: block;
}


/*Inicio/Registro*/

.centro{
    display: flex;
    justify-content: center;
}



/*------*/

/*
.prod {
    padding: 8px;
    align-self: self-end;
    border-radius: 4%;
    margin: auto;
}
*/

/*--Producto--*/

/*Detalle producto*/

th {
    text-align: center;
}

.tabla {
    bottom: 45vh;
    margin-top: 2%;
}


/*Carrusel*/
#carru {
    width: 60%;
    margin-left: 20%;
}

/*Tarjeta*/


/*------*/


/*--Registro y Login--*/
.register {
    background-color: rgb(242, 242, 242);

}

/*Botones*/
.botton {
    height: 80vh;
    width: 50%;
    display: flex;
    color: black;
    text-align: center;
    border: none;
}

/*Formulario*/
.inireg {
    margin-top: 1%;
}



.nav-link {
    color: black;
}

/*recordar*/
.titulos {
    text-align: center;
}

/*logos redes*/
.redes {
    width: 5%;

}


.btn {
    text-decoration: none;
}


/*Botones Reg y Log*/
.btnbonito {
    background-color: #346a86;
    /*Color letra*/
    --bs-nav-pills-link-active-color: #ffffff;
    /*Color Fondo*/
    --bs-nav-pills-link-active-bg:#346a86;
    --bs-btn-hover-color: #ffffff;
}


.btn-primary {

    /*mouse encima*/
    --bs-btn-hover-bg: #254e63;
    /*Borde*/
    --bs-btn-border-color:none;
    /*Borde mouse encima*/
    --bs-btn-hover-border-color: #254e63;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    img {
        width: 20%;
    }

    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    img {
        width: 20%;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    img {
        width: 90%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    img {
        width: 90%;
    }
    
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    img {
        width: 90%;
    }
}